snippet withDescription "function"
function ${1:name}(${2:params}) {
	$0
}
endsnippet

snippet withoutDescription
async function ${1:name}(${2:params}) {
	$0
}
endsnippet

snippet multilineBody
function ${1:name}(${2:params}) {
	$0
}
endsnippet

snippet withSpecialSymbols
$
}
\
endsnippet

snippet "multi-word prefix"
This is cool
endsnippet
